---
import { getLatestSongs } from "../scripts/spotify.js";

const latestSongs = await getLatestSongs(SPOTIFY_ARTIST_ID, 3);

import Layout from "../layouts/Layout.astro";
import HalfBox from "../components/HalfBox.astro";

import VerticalSection from "../components/sections/VerticalSection.astro";
import SectionHeader from "../components/sections/SectionHeader.astro";
import HorizontalSection from "../components/sections/HorizontalSection.astro";

import EventList from "../components/events/EventList.astro";
import EventItem from "../components/events/EventItem.astro";

import SongList from "../components/songs/SongList.astro";
import SongItem from "../components/songs/SongItem.astro";

import SocialList from "../components/socials/SocialList.astro";
import SocialItem from "../components/socials/SocialItem.astro";

import ContactForm from "../components/contact/ContactForm.astro";
import ContactFormInputBox from "../components/contact/ContactFormInputBox.astro";
import ContactFormTextArea from "../components/contact/ContactFormTextArea.astro";

import { SPOTIFY_URL, INSTAGRAM_URL, YOUTUBE_URL, SPOTIFY_ARTIST_ID } from "../scripts/constants.js";
---

<Layout>
	<VerticalSection id="home">
		<div class="w-full h-full flex flex-row items-center justify-between">
			<h1 class="desktop text-white text-6xl lg:text-8xl font-bebas-neue desktop mb-6" data-aos="zoom-in">ESSE É O DJ FURY</h1>

			<img src="assets/img/fury.png" data-aos="zoom-in">

			<h1 class="desktop text-white text-6xl lg:text-8xl font-bebas-neue desktop mb-6" data-aos="zoom-in">SUCESSO COM A MULHERADA</h1>
		</div>
	</VerticalSection>

	<HorizontalSection id="shows">
		<HalfBox>
			<img class="desktop w-1/2 h-auto" src="assets/img/fury_3.png">
		</HalfBox>

		<HalfBox>
			<EventList>
				<EventItem date="15 de Fevereiro" label="Carna Tenda" location="Neo Química Arena, São Paulo - SP" action="Ingressos" over aos="flip-up"/>
				<EventItem date="22 de Fevereiro" label="Submundo 808" location="São Paulo - SP" action="Ingressos" over aos="flip-up"/>
				<EventItem date="02 de Março" label="Carna Farra" location="São Paulo - SP" action="Ingressos" aos="flip-up"/>
				<EventItem date="08 de Março" label="Fusion Fest" location="São Paulo - SP" action="Ingressos" aos="flip-up"/>
				<EventItem date="15 de Março" label="Carna Tenda" location="Curitiba - PR" action="Ingressos" aos="flip-up"/>
				<EventItem date="22 de Março" label="Boteco da Diretoria" location="Poços de Caldas - MG" action="Ingressos" aos="flip-up"/>
				<EventItem date="29 de Março" label="Carna Tenda" location="Uberlandias - MG" action="Ingressos" aos="flip-up"/>
			</EventList>
		</HalfBox>
	</HorizontalSection>

	<VerticalSection id="musicas">
		<SongList>
			<SongItem label={latestSongs[0].name} artists={latestSongs[0].artists} src={latestSongs[0].image} url={latestSongs[0].url} desktop aos="fade-right" />
			<SongItem label={latestSongs[1].name} artists={latestSongs[1].artists} src={latestSongs[1].image} url={latestSongs[1].url} aos="zoom-in" />
			<SongItem label={latestSongs[0].name} artists={latestSongs[0].artists} src={latestSongs[0].image} url={latestSongs[0].url} desktop aos="fade-left" />
		</SongList>
	</VerticalSection>

	<VerticalSection id="galeria"> 
		<div class="w-full h-full grid grid-cols-1 grid-rows-1 lg:grid-cols-3 gap-8">
			<div class="bg-white w-full aspect-[1/1] m-auto overflow-hidden desktop">
				<img src="assets/img/feed3.png" alt="Image" class="w-full h-full object-cover" />
			</div>

			<div class="bg-white w-full aspect-[1/1] m-auto overflow-hidden">
				<img src="assets/img/feed1.png" alt="Image" class="w-full h-full object-cover" />
			</div>

			<div class="bg-white w-full aspect-[1/1] m-auto overflow-hidden desktop">
				<img src="assets/img/feed2.png" alt="Image" class="w-full h-full object-cover" />
			</div>
		</div>
	</VerticalSection>

	<HorizontalSection id="contato">
		<HalfBox>
			<SectionHeader label="REDES SOCIAIS" aos="fade-down" />

			<div class="desktop relative w-full h-full flex items-center justify-center -z-10" data-aos="fade-right">
				<img class="absolute" src="assets/img/fury_4.png">	
			</div> 

			<SocialList>
				<SocialItem label="Spotify" src="assets/img/icons/spotify.png" url={SPOTIFY_URL} aos="fade-right" />
				<SocialItem label="Instagram" src="assets/img/icons/instagram.png" url={INSTAGRAM_URL} aos="fade-up" />
				<SocialItem label="YouTube" src="assets/img/icons/youtube.png" url={YOUTUBE_URL} aos="fade-left" />
			</SocialList>
		</HalfBox>

		<HalfBox>
			<SectionHeader label="FORMULÁRIO" aos="fade-down" />

			<ContactForm id="contact">
				<ContactFormInputBox label="Nome" placeholder="Escreva seu nome aqui..." name="name" type="name" aos="fade-left" id="name"  />
				<ContactFormInputBox label="E-mail" placeholder="Escreva seu e-mail aqui..." name="email" type="email" aos="fade-left" id="email" />
				<ContactFormInputBox label="Assunto" placeholder="Escreva o assunto aqui..." name="subject" type="text" aos="fade-left" id="email" />

				<ContactFormTextArea label="Mensagem" placeholder="Escreva sua mensagem aqui..." aos="fade-left" id="message" />

				<div data-aos="fade-up">
					<button class="w-full text-white text-2xl lg:text-4xl font-bebas-neue hover:-translate-y-2 transition-all ease-out cursor-pointer" type="submit">Enviar</button>
				</div>
			</ContactForm>
		</HalfBox>
	</HorizontalSection>
	
	<VerticalSection id="loja">
		<img class="desktop absolute bottom-0" src="assets/img/footer.png">

		<SectionHeader label="EM BREVE..." aos="fade-up" />
	</VerticalSection>
</Layout>