---
const { date, name, location, action, aos } = Astro.props;
---

<li class="w-full flex flex-col items-center justify-center gap-1" data-aos={aos}>
    <div class="w-full flex flex-col items-start justify-center">
        <p class="text-white text-xl lg:text-2xl font-bebas-neue">{date}</p>

        <div class="w-full flex flex-row items-center justify-between">
            <p class="text-white text-xl lg:text-2xl font-bebas-neue">{name}</p>

            <h2 class="text-white text-xl lg:text-2xl font-bebas-neue">{location}</h2>
            <h2 class="text-white text-xl lg:text-2xl font-bebas-neue">{action}</h2>
        </div>
    </div>

    <!-- Divisor -->
    <div class="bg-white w-full h-[2px]"></div>
</li>